/* karla font */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700;800&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	margin: 0;
	color: whitesmoke;
	font-family: 'Karla', sans-serif;
}

.container {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}
header,
.section-two {
	/* background-color: #7209b7; */
	background-color: #1d3557;
	color: #a8dadc;
	/* color: whitesmoke; */
}
header,
section,
footer {
	padding: 1.25em 0.9375em; /* 20px 15px */
}
p {
	font-size: 1.25rem; /* 20px */
	line-height: 1.5;
}
header .title {
	display: flex;
	flex-direction: column;
	text-align: center;
}
header h1 {
	font-size: 1.875em; /* 30px */
	margin-bottom: 0;
	margin-top: 0;
}

.subheading {
	font-size: 1.0625rem; /* 17px */
	margin-top: 0;
	color: #f4f4f9;
}

ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding-left: 0;
}

li {
	padding: 0.3125em 0; /* 5px */
}
.resources {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	padding: 0.625em 0; /* 10px */
}
ul li a {
	display: block;
	font-size: 1.25rem; /* 20px */
	color: #a8dadc;
	text-decoration: none;
}
li a:hover,
li a:focus {
	color: #f1faee;
}

/* section-one */
.section-one {
	color: #282828;
	background-color: white;
}
.section-one h2 {
	font-size: 1.4375em; /* 23px */
	color: #1d3557;
	margin: 0;
}
.section-one h3 {
	font-size: 21px;
}
.section-one img {
	width: 100%;
}
.section-one p {
	margin-bottom: 1.25em; /* 20px */
}

.btn {
	display: block;
	padding: 0.625em 1.25em; /* 10px 20px */
	margin-bottom: 0.9375em; /* 15px */
	text-align: center;
	text-decoration: none;
	font-size: 1.1875rem; /* 19px */
	font-weight: bold;
	border-radius: 4px;
}
.btn:hover,
.btn:focus {
	background-color: #457b9d;
	color: #a8dadc;
}
.dark {
	background-color: #1d3557;
	color: #a8dadc;
}
.light {
	background-color: #a8dadc;
	color: #1d3557;
}

/* section-two */

.section-two h2 {
	margin-top: 0;
}
.imgs-container {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: space-around;
}

.feature-item {
	flex: 1 220px;
}
.feature-img {
	width: 100%;
	border-radius: 4px;
}
.light-btns {
	display: flex;
	gap: 10px;
}
.section-two p {
	color: #d8e2dc;
}

/* footer */
footer {
	color: #1d3557;
	text-align: center;
}

/* media queries */
@media (min-width: 750px) {
	section,
	footer {
		padding: 2.5em 0.9375em; /* 40px 15px */
	}
	header .title,
	ul {
		flex-direction: row;
	}
	header h1 {
		font-size: 2.1875rem; /* 35px */
	}
	.title {
		justify-content: space-between;
		padding: 0.625em 0; /* 10px 0 */
	}
	.subheading {
		text-align: start;
		font-size: 1.25rem; /* 20px */
	}
	ul {
		gap: 15px;
	}
	.resources {
		padding: 0;
		border: none;
	}
	.section-one h2 {
		font-size: 1.75rem; /* 28px */
	}
	.btn {
		display: inline-block;
		margin-right: 1.067em; /* 15px */
	}
	p {
		font-size: 1.1875rem; /* 19px */
	}
}
